<!-- Check for genreId for each wanted genre, to display correct title -->
@if (ViewBag.Genre == "28") {
	<h1>Action movies</h1>
	ViewData["Title"] = "Action Movies";
}
@if (ViewBag.Genre == "35")
{
	<h1>Comedy movies</h1>
	ViewData["Title"] = "Comedy Movies";
}
@if (ViewBag.Genre == "53")
{
	<h1>Thriller movies</h1>
	ViewData["Title"] = "Thriller Movies";
}
@if (ViewBag.Genre == "10752")
{
	<h1>War movies</h1>
	ViewData["Title"] = "War Movies";
}
@if (ViewBag.Genre == "10749")
{
	<h1>Romance movies</h1>
	ViewData["Title"] = "Romance Movies";
}
@if (ViewBag.Genre == "18")
{
	<h1>Drama movies</h1>
	ViewData["Title"] = "Drama Movies";
}
@if (ViewBag.Genre == "80")
{
	<h1>Crime movies</h1>
	ViewData["Title"] = "Crime Movies";
}
@if (ViewBag.Genre == "27")
{
	<h1>Horror movies</h1>
	ViewData["Title"] = "Horror Movies";
}
@if (ViewBag.Genre == "99")
{
	<h1>Documentaries</h1>
	ViewData["Title"] = "Documentaries";
}


@model List<Movie>

<!-- Check if there are any movies in the genre, if so display them -->
@if (Model.Any())
{
	<!--I know I don't actually have all the movies currently and only one page, 
	so the count it wrong. I will try to fix later if I can-->
	<p>There are: @Model.Count() movies in this genre</p>

	<!--Loop to display gathered movies in the genre with some information about it-->
    <ul>
        @foreach (var movie in Model)
        {
            <li>
				<form action="GetMovieDetails" method="get" id="OneMovie">
					<strong>@movie.Title</strong> (Rating: @movie.VoteAverage)
					<br />
					<img src="https://image.tmdb.org/t/p/w200/@movie.PosterPath" alt="@movie.Title" />
					<p>@movie.Overview</p>
					<p>Release Date: @(movie.ReleaseDate?.ToString("yyyy-MM-dd") ?? "Unknown")</p>
					<button type="submit" form="OneMovie" value="@movie.Id">More information</button>	
				</form>
            </li>
        }
    </ul>
}
<!--If no movies are found, display message-->
else
{
    <p>No movies found.</p>
}



