@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Movie

@{
	ViewData["Title"] = "Info about " + Model.Title;
}


<!-- Check if there are any movies in the genre, if so display them
(This code snippet could probably have been generalised with the one in "MovieLists" and "Index")
-->
@if (!Model.Equals(null))
{
	<div style="background-image: url('https://image.tmdb.org/t/p/original/@Model.BackdropPath'); background-size: cover; background-position: center; min-height: 100vh; padding: 20px;">
		<ul>
			<li>
				<strong>@Model.Title</strong> (Rating: @Model.VoteAverage)
				<br />
				<img src="https://image.tmdb.org/t/p/w200/@Model.PosterPath" alt="@Model.Title" />
				<p>@Model.Overview</p>
				<p>Release Date: @(Model.ReleaseDate?.ToString("yyyy-MM-dd") ?? "Unknown")</p>
				<p>Genres: </p>
				@foreach (var genre in Model.Genres)
				{
				<li>@genre.Name</li>
				}
		</ul>
	</div>
}
